body {
  margin: 0;
  color: tomato;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 105, 121, 1) 75%,
    rgb(18, 48, 54) 100%
  );
  padding: 0;
  font-size: 30px;
  box-sizing: border-box;
  border: none;
}
/* Main heading / Title  */

h1 {
  font-size: 70px;
  color: #f64668;
  text-align: center;
  margin-top: 0px;

  margin-bottom: 0px;
}

/* peer id / copy button / QR code  */

.peer-id-container {
  /* background: green; */
  font-size: 25px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

#copyButton > button {
  cursor: pointer;

  border-radius: 20px;
  padding: 10px 20px;
}
#qrCode {
  margin-left: 10px;
}

/* <!-- Status/ file choosen / peer id / connect button / received file / download link / qr scanner / qr code / copy button / popup image --> */
.middle {
  /* background: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 40px;
  padding-top: 40px;
}
.hidden {
  display: none;
}
#downloadLink[disabled] {
  pointer-events: none;
  color: grey;
}

#scanner {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin-top: 10px;
}

/* Media queries to show/hide the QR code scanner button based on device type */
@media (min-width: 768px) {
  #scanQRButton {
    display: none; /* Hide on tablets and larger devices */
  }
}

#connectButton {
  border-radius: 20px;
  padding: 10px 20px;
}

#peerIdInput {
  border-radius: 20px;
  padding: 10px 20px;
  color: black;
}

#fileInput {
  border-radius: 20px;

  padding: 10px 20px;

  padding: 10px 20px;
}

button {
  cursor: pointer;
}

.files {
  /* background-color: rgb(11, 247, 247); */
  padding-bottom: 40px;
  padding-top: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

input::placeholder {
  color: #f64668; /* Change this to the color you prefer */
  opacity: 1; /* Optional: Set the opacity of the placeholder text */
}

@media (max-width: 767px) {
  h1 {
    font-size: 35px;
    margin-top: 20px;
  }
  #copyButton {
    padding-left: 0px;
  }
  #scanQRButton {
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 40%;
    border-radius: 20px;
    padding: 10px 20px;
  }
  #statusdisplay {
    padding-left: 8px;
  }
  #fileInput {
    padding-left: 28px;
    width: 178px;
  }
  .files {
    padding-top: 0px;
  }

  .middle {
    flex-direction: column;
  }

  #peerConnectionSection {
    padding: 4px 13px 2px 1px;
  }
}

/* <!-- Popup Image Container --> */
.image-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(185, 78, 59, 0.699);
  backdrop-filter: blur(20px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.image-popup img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 4px 10px rgba(216, 207, 207, 0.5);
  border-radius: 8px;
  /* cursor: zoom-in; */
  transition: transform 0.3s ease-in-out;
}
.image-popup img:hover {
  transform: scale(1.7);
}
