@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #502727; */
  /* color: aliceblue; */
  font-family: "Baloo 2", cursive;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
}
.hidden {
  display: none;
}
#downloadLink[disabled] {
  pointer-events: none;
  color: grey;
}
.peer-id-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#copyButton {
  margin-left: 10px;
}
#qrCode {
  margin-left: 10px;
}
#scanner {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin-top: 10px;
}

/* Media queries to show/hide the QR code scanner button based on device type */
@media (min-width: 768px) {
  #scanQRButton {
    display: none; /* Hide on tablets and larger devices */
  }
  
}

#connectButton {
  border-radius: 20px;
  padding: 10px 20px;
}
#copyButton {
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
#peerIdInput {
  border-radius: 20px;
  padding: 10px 20px;
  color: black;
}
#peerConnectionSection {
  padding: 4px 13px 2px 1px;
}
#fileInput {
  border-radius: 20px;
  padding: 10px 20px;
}
.peer-id-container {
  margin-top: 20px;
  font-size: 20px;
}
h1 {
  margin: 20px 30px 22px 33px;
}
button {
  cursor: pointer;
}
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.files {
  /* display: flex; */
  background-color: azure;
  /* justify-content:space-around;
  align-items: center; */
  /* flex-direction: row; */
  /* margin: 20px 30px 33px 40px; */
  display: inline-block;
  left: 25%;
}

input::placeholder {
   color:#F64668; /* Change this to the color you prefer */
  opacity: 1;  /* Optional: Set the opacity of the placeholder text */
}

@media (max-width: 767px) {
  *{
    font-size: 18px;
    background-color: #41436A;
    color: #F64668;
  }
  #scanQRButton {
    display: inline-block; 
    text-decoration: none;
    border-radius: 20px;
    padding: 80px auto;
    margin-left: 150px;
  }
  .peer-id-container{
    margin-left: 20px;
    justify-content: center;
  }
  .middle{
    /* display: flex; */
    flex-direction: column;
    margin: 40px auto;
  }
  .files{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }
}

/* <!-- Popup Image Container --> */
.image-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(56, 53, 53, 0.8);
  backdrop-filter: blur(10px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.image-popup img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 4px 10px rgba(216, 207, 207, 0.5);
  border-radius: 8px;
  cursor: zoom-in;
  transition: transform 0.3s ease-in-out;
}
.image-popup img:hover {
  transform: scale(1.1);
}